:root {
  --hue: 223;
  --primary: hsl(var(--hue), 90%, 50%);
  --trans-dur: 0.6s;
  --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);

  [theme="custom-light"] {
    --text-color: #4e4e4e;
    --container-color: #bdbdbd;
    --secondary-container-color: #686868;
    --background-color: #eeeeee;
    --border-color: #4d4d4d;
    --linear-gradient: linear-gradient(
      90deg,
      rgb(146, 146, 146) 0%,
      rgb(204, 204, 204) 100%
    );
  }
  [theme="custom-dark"] {
    --text-color: #ffffff;
    --container-color: #464646;
    --secondary-container-color: #686868;
    --background-color: #0c0c0c;
    --border-color: grey;
    --linear-gradient: linear-gradient(
      90deg,
      rgb(71, 71, 71) 0%,
      rgba(29, 29, 29, 1) 100%
    );
  }
}

body {
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
}
